main{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Metal Mania', cursive;
  margin: 0 80px;
}
.login-container h1{
  font-size: 130px;
}
.login-container h2{
  font-family: 'Maiden Orange',cursive;
  font-weight: 800;
  font-size: 50px;
  padding-bottom: 50px;
}
#btn-login{
  background: #f1f1f1;
  text-align: center;
  border-radius: 16px;
  color:#320303;
  ;
  font-size: 3em;
  margin: 48px 0 24px ;
  
}
#btn-cadastrar{
  color: #f1f1f1;
  padding-top: 10px;
  text-decoration: underline;
  font-family: 'Maiden Orange';
  font-size: 25px;


}
.login-container p{
  font-size: 24px;
  font-family: 'Maiden Orange';
  padding-top: 10px;
}

.img-container{
  width: 875px;
  height: 1024px;
}



